*{
   margin: 0px; 
   padding: 0px;
}
h2{
    text-align: center;
    position: relative;
    top: 160px;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}
form{
    margin: 180px auto;
    width: 250px;
    border: 2px solid rgb(247, 166, 17);
    padding: 50px;
}
div{
    margin-bottom: 15px;
}
i{
    background-color: rgb(247, 166, 17);
    color: white;
    padding: 10px;
}
input{
    padding: 10px;
    width: 175px;
}
input[type="text"]:focus{
    background-color: orange;
}
button{
    background-color: rgb(247, 166, 17);
    border: 2px solid rgb(247, 166, 17);
    color: white;
    padding: 15px 20px;
    width: 100%;
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
}
/* div{
    width: 400px;
    height: 400px;
    border: 1px solid lightgray;
    /* border-radius: 50%; */
    margin: 0 auto;
    /* background-image: linear-gradient(245deg, yellow 30%, orange 60%); */
    background-image: repeating-radial-gradient(farthest-corner at 100px 100px, darkorange 50%, yellow 30%);
}  */