@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;   
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: inline-block;
}
.logo{
    float: left;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
.navigation{
    float: right;
}
.navigation a{
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
header .navigation a:hover{
    background: #fff;
}
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.content .info-btn{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}
.content .info-btn:hover{
    background: #0C4F60;
}
.media-icons{
    text-align: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    top: 50px;
    color: #111;
    font-size: 25px;
    transition: transform 0.3s;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a i:hover{
    transform: scale(1.5);
}